:root {
    --box-height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.external-links {

    width: 100%;
    height: var(--box-height);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

.external-links .icon-container {
    margin: auto 10px 0;
}

.external-links .icon {
    font-size: 30px;
    color: white;
}

.icon.flipX {
    transform: scaleX(-1);
}