:root {
    --box-height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.external-links {

    margin: 80px 0 0.6in;

    width: 100%;
    height: var(--box-height);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

.external-links .icon-container {
    margin: auto 10px 0;
}

.external-links .icon {
    font-size: 30px;
    color: white;
}

.icon.flipX {
    transform: scaleX(-1);
}

@media (pointer:none), (pointer:coarse) {
    .external-links .icon {
        font-size: 80px;
    }

    .external-links .icon-container {
        margin: auto 20px 0;
    }
}