:root {
    --scroll-bar-width: 17px;
    --background-image: url("../assets/noisebg.png");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--background-image);
    background-color: #282828;
}

#screen {
    width: 100%;
    min-height: 100vh;
}

.columns-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.column {}

.external-links-iframe {
    border: none;
    margin-top: 70px;
    width: 100%;
    height: 34px;
    overflow: no-display;
}