@font-face {
    font-family: ubuntuMonoRegular;
    src: url(/assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

@font-face {
    font-family: ubuntuMonoBold;
    src: url(/assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf);
}



:root {
    --text-column-width: 600px;
}

.text-column {
    right: 0;
    width: var(--text-column-width);
    overflow: hidden;
    padding: 50px;
}

.text-column a:not(.icon-container), .text-column .rainbow {
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(
            to right,
            rgba(255,0,0,.8),
            rgba(255, 136, 0, 0.8),
            rgba(208, 183, 32, 0.8),
            rgba(55, 255, 0, 0.8),
            rgba(0, 119, 255, 0.8),
            rgba(176, 71, 243, 0.8),
            rgba(255,0,0,.8));
    background-size: 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-thickness: 2px;
    text-decoration-color: white;

    animation: gradient 5s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -200px;
    }
}

.text-column .title-text {
    text-align: center;

    margin: 40px 0 70px;
}

.text-column .maintitle-text {
    font-size: 3.5em;
    margin: 0;
}

.text-column .subtitle-text {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.text-column h3 {
    font-size: 1.5em;
    margin: 30px 0 10px -20px;
}

.text-column {
    color: white;
}

.text-column .main-text > * {
    margin-bottom: 10px;
}

.text-column .no-bottom-space {
    margin-bottom: 0;
}

.text-column li:not(:last-child) {
    margin-bottom: -10px;
}

.text-column h1, .text-column h2, .text-column h3 {
    font-family: ubuntuMonoRegular, monospace;
}

.text-column p, .text-column li {
    font-family: Helvetica, serif;

    font-size: 1.2rem;
    line-height: 30px;
}

.text-column ul {
    margin-left: 20px;
}


.image, .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.image img {
    -webkit-user-drag: none;
    pointer-events: none;
    display: block;
}

.image p {
    margin-top: 5px;
    font-size: 1em;
    color: #cecece;
}

.images-holder {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    align-items: center;

    /*display: grid;*/
    /*grid-template-columns: repeat(var(--column-count), calc(var(--project-width) + var(--outer-card-padding) * 2));*/
    /*gap: var(--projects-bottom-spacing) var(--projects-side-spacing);*/
}

.images-holder img {
    background-color: transparent;
}

.images-holder img:not(:first-child) {
    margin-left: 20px;
}

.video iframe {
    border-radius: 10px;
}

code {
    background-color: gray;
}