@font-face {
    font-family: jura;
    src: url(jura.ttf);
}

:root {
    --name-height: 100px;
    --border: 5px solid mediumpurple;
    --border-radius: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 500px;
    background-color: #1A213B;
    padding: 20px;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: var(--border);
        border-radius: var(--border-radius);
        overflow: hidden;

        & > img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }

        & > div {
            background-color: #010020;
            font-family: jura, monospace;
        }

        & > .name {
            color: deepskyblue;
            font-weight: bolder;
            width: 80%;
            height: var(--name-height);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;

            border: var(--border);
            border-radius: var(--border-radius);

            margin-top: calc(var(--name-height) / -2);
            z-index: 2;
        }

        & > .spacer {
            height: calc(var(--name-height) / 2);
            width: 100%;
            margin-top: calc(var(--name-height) / -2);
            border-top: var(--border);
        }

        & > .description {
            color: white;
            font-family: jura, monospace;
            font-weight: bolder;
            width: 100%;
            height: 100px;
            font-size: 1rem;
        }
    }
}